<template>
  <div class="flex flex-col flex-wrap">
    <div class="flex-1">
      <button
        class="p-2 bg-blue-300 text-white font-bold text-center rounded-lg"
        @click="clearAllReviews"
      >
        Close All Reviews
      </button>
    </div>
    <div class="flex-1">
      <PropertiesFilters />
    </div>
    <div class="flex-1">
      <h4 class="text-2xl" v-if="message !== ''">{{ message }}</h4>
      <PropertyCard
        class="mt-6"
        v-for="property in properties"
        :key="property.id"
        :property="property"
      />
    </div>
  </div>
</template>

<script>
import PropertyCard from '@/components/PropertyCard';
import PropertiesFilters from '@/components/PropertiesFilters';
// import axios from 'axios';
import { mapActions, mapGetters } from 'vuex';

const actions = mapActions(['resetReviews', 'fetchProperties']);

const getters = mapGetters(['properties']);

export default {
  name: 'properties',
  components: {
    PropertyCard,
    PropertiesFilters,
  },
  data() {
    return {
      // properties: [],
      message: '',
    };
  },
  computed: {
    ...getters,
  },
  async mounted() {
    this.fetchProperties();
    // try {
    //   const response = await axios.get('api/properties');
    //   this.properties = response.data.properties;
    // } catch (error) {
    //   this.message = error.response.data;
    // }
  },
  methods: {
    ...actions,
    clearAllReviews() {
      this.resetReviews();
    },
  },
};
</script>
