<template>
  <div class="mt-6 mb-2 cursor-pointer">
    <div class="relative px-4">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <pre>{{ JSON.stringify(filters) }}</pre>
        <div class="flex flex-row">
          <h4 class="font-bold mr-4">Beds</h4>
          <ul class="flex flex-row">
            <li class="ml-2 mr-3" v-for="(bed, index) in filters.beds" :key="index">
              <label class="">
                <input type="checkbox" @click="setFilter({ item: 'beds', value: bed })" />
                {{ bed }}
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

const getters = mapGetters(['filters']);
const actions = mapActions(['setFilter']);

export default {
  name: 'propertiesFiters',
  computed: getters,
  methods: {
    ...actions,
  },
};
</script>
